body {
    font-family: Arial
    ;
}

header {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.wrapper-card {
    display: flex;
    flex-direction: column;
   
}

.wrapper-separation {
    background-color: #42A0C3;
    width: 20px;
    border: none;
}

.wrapper-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #F1F1F1;
    width: 100%;
}

.wrapper-info {
    display: flex;
}

.title-info {
    display: flex;
    flex-direction: row;
}

#resource-table {
    margin: 4rem 1rem 1rem 3rem;
    width: 90%;
}

.pagination {
    display: flex;
    flex-flow: wrap-reverse;
    justify-content: flex-end;
    padding: 1rem;
}

.pagination button {
    margin: 1rem;
}

.cardButton {
    cursor: pointer;
    border: none;
    width: 10rem;
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cardButton:active {
    background-color: #555555;
}

.peoples {
    background:url(../img/newImg/iconfinder_darth_vader_216968.png) no-repeat top 1rem center;
    background-color: lightpink;
}

.species {
    background:url(../img/newImg/iconfinder_leia_216970.png) no-repeat top 1rem center;
    background-color: lightpink;
}

.vehicles {
    background:url(../img/newImg/iconfinder_at-at_298966.png) no-repeat top 1rem center;
    background-color: lightpink;
}

.starships {
    background:url(../img/newImg/iconfinder_falcon_216967.png) no-repeat top 1rem center;
    background-color: lightpink;
}

.planets {
    background:url(../img/newImg/iconfinder_death_star_216969.png) no-repeat top 1rem center;
    background-color: lightpink;
}

.films {
    background:url(../img/newImg/iconfinder_darth_vader_216968.png) no-repeat top 1rem center;
    background-color: lightpink;
}

