body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    height: 30rem;
    background: url(../img/newImg/StarWarsBanner.jpg) no-repeat top center;
    background-size: contain;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.wrapper-card {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 30%;
    padding-bottom: 1rem;
    justify-content: center;
    padding-top: 2rem;
}

.wrapper-separation {
    background-color: #0087EA;
    width: 3rem;
    border: none;
}

.wrapper-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #373536;
    width: 100%;
}

.wrapper-info {
    display: flex;
}

.title-info {
    display: flex;
    flex-direction: row;
}

#resource-table {
    margin: 4rem 1rem 1rem 3rem;
    width: 90%;
}

.pagination {
    display: flex;
    flex-flow: wrap-reverse;
    justify-content: flex-end;
    padding: 1rem;
}

.pagination button {
    margin: 1rem;
    border: none;
    color: #373536;
}

.next-page {
    background-color: #0087EA;
}

.previous-page {
    background-color: #E5270D;
}

.card {
    padding-right: 1rem;
}

.cardButton {
    color: #373536;
    cursor: pointer;
    border: none;
    width: 10rem;
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cardButton:active {
    background-color: #B70200;
}

.blueCard:active {
    background-color: #006DB2;
}

.cardButton:hover {
    color: #242B2B;
}

.peoples {
    background: #E5270D url(../img/newImg/iconfinder_darth_vader_216968.png) no-repeat top 1rem center;
}

.peoples:hover {
    cursor: url(cursors/cursor-red.cur), auto;
}

.species {
    background: #0087EA url(../img/newImg/iconfinder_leia_216970.png) no-repeat top 1rem center;
}

.species:hover {
    cursor: url(cursors/cursor-blue.cur), auto;
}

.vehicles {
    background: #E5270D url(../img/newImg/iconfinder_at-at_298966.png) no-repeat top 1rem center;
}

.vehicles:hover {
    cursor: url(cursors/cursor-blue.cur), auto;
}

.starships {
    background: #0087EA url(../img/newImg/iconfinder_falcon_216967.png) no-repeat top 1rem center;
}

.starships:hover {
    cursor: url(cursors/cursor-yellow.cur), auto;
}

.planets {
    background: #E5270D url(../img/newImg/iconfinder_death_star_216969.png) no-repeat top 1rem center;
}

.planets:hover {
    cursor: url(cursors/cursor-purple.cur), auto;
}

.films {
    background: #0087EA url(../img/newImg/iconfinder_film.png) no-repeat top 1rem center;
}

.films:hover {
    cursor: url(cursors/cursor-rebel.cur), auto;
}

