body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    height: 30rem;
    background: url(../img/logostarwars.jpg) no-repeat top center;
    background-size: contain;
}

h1 {
    font-family: 'Staatliches', cursive;
    text-align: center;
    font-size: 8rem;
    color: #373536;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.wrapper-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    padding-bottom: 1rem;
    justify-content: center;
}

.wrapper-separation {
    background-color: #0087EA;
    width: 3rem;
    border: none;
    box-shadow: 2px 1px 4px #373536;
    max-height: 38.7rem;
}

.wrapper-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #373536;
    width: 100%;
    height: fit-content;
    /*min-height: 51vh;*/
    /*max-height: 51vh;*/
    box-shadow: 2px 1px 4px #373536;
    position: relative;
}

.wrapper-info {
    display: flex;
    min-height: 38.7rem;
    overflow: scroll;
}

.title-info {
    display: flex;
    flex-direction: row;
}

#resource-table {
    margin: 4rem 1rem 1rem 3rem;
    min-width: max-content;
    width: 95%;
    color: white;
}

th, td {
    width: fit-content;
}

td {
    border: none;
}

.pagination {
    display: flex;
    flex-flow: wrap-reverse;
    justify-content: flex-end;
    padding: 1rem;
    position: absolute;
    bottom: -4rem;
    right: 0;
}

.pagination button {
    text-transform: initial;
    font-size: 1.3rem;
    margin: 1rem;
    border: none;
    color: #373536;
    box-shadow: 2px 1px 4px #373536;
}

.next-page {
    background-color: #0087EA;
}

.next-page:active {
    background-color: #006DB2;
}

.next-page:hover {
    cursor: url(cursors/cursor-red.cur), auto;
}

.previous-page {
    background-color: #E5270D;
}

.previous-page:active {
    background-color: #B70200;
}

.previous-page:hover {
    cursor: url(cursors/cursor-green.cur), auto;
}

.card {
    padding-right: 1rem;
    border: none;
}

.cardButton {
    color: #373536;
    cursor: pointer;
    border: none;
    width: 10rem;
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 2px 1px 4px #373536;
}

.cardButton span {
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: underline;
}

.cardButton:active {
    background-color: #B70200;
}

.blueCard:active {
    background-color: #006DB2;
}

.cardButton:hover {
    color: #242B2B;
}

.peoples {
    background: #E5270D url(../img/iconfinder_darth_vader_216968.png) no-repeat top 1rem center;
}

.peoples:hover {
    cursor: url(cursors/cursor-green.cur), auto;
}

.species {
    background: #0087EA url(../img/iconfinder_leia_216970.png) no-repeat top 1rem center;
}

.species:hover {
    cursor: url(cursors/cursor-red.cur), auto;
}

.vehicles {
    background: #E5270D url(../img/iconfinder_at-at_298966.png) no-repeat top 1rem center;
}

.vehicles:hover {
    cursor: url(cursors/cursor-blue.cur), auto;
}

.starships {
    background: #0087EA url(../img/iconfinder_falcon_216967.png) no-repeat top 1rem center;
}

.starships:hover {
    cursor: url(cursors/cursor-yellow.cur), auto;
}

.planets {
    background: #E5270D url(../img/iconfinder_death_star_216969.png) no-repeat top 1rem center;
}

.planets:hover {
    cursor: url(cursors/cursor-purple.cur), auto;
}

.films {
    background: #0087EA url(../img/iconfinder_film.png) no-repeat top 1rem center;
}

.films:hover {
    cursor: url(cursors/cursor-green.cur), auto;
}

@media screen and (max-width: 870px) {
    .wrapper-separation {
        display:none;
    }
    .wrapper {
        flex-wrap: wrap;
    }
    .wrapper-card {
        width: auto;
    }
}

@media screen and (max-width: 315px) {
    .pagination {
        bottom: -10rem;
    }
    .pagination button {
        width: 100%;
    }
}
